@model PimVIII.Models.Telefone

@{ ViewData["Title"] = "Delete"; }

<h2>Apagar Telefone</h2>

<h3>Você esta certo que vai excluir?</h3>
<div>
    <h4>Telefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DDD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DDD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoTelefones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoTelefones)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="PessoaID" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
