@model IEnumerable<PimVIII.Models.Telefone>

@{
    ViewData["Title"] = "Telefones";
}

<h2>@ViewData["Title"]</h2>

<h2>
    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.Pessoa">+</a>
    </p>
</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DDD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTelefones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTelefones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>|
                <a asp-controller="Pessoas" asp-action="Index">Menu Anterior</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
